.topics {
    /* background-color: yellow; */
    padding-top: 25px;
}

.topic-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

/*.topic-list:nth-child(odd) {
    background-color: white;
}

.topic-list:nth-child(even) {
    background-color: black;
}  */

@media screen and (max-width:1300px) and (min-width: 1000px) {
    .topic-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:999px) and (min-width: 700px) {
    .topic-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:699px) {
    .topic-list {
        grid-template-columns: repeat(1, 1fr);
    }
}