.header {
    position: sticky;
    top: 0;
}

.site-name {
    text-decoration: none;
    font-size: 35px;
    color: black;
    font-weight: 600;
}

.nav-option {
    text-decoration: none;
    color: darkblue;
    font-weight: 500;
    border-radius: 2px;
}

.nav-option:hover {
    color: red;
}

.active {
    text-decoration: underline;
}