.banner {
    background-image: url('/public/images/banner-bg.png');
}

p {
    background-color: rgba(0, 0, 139, 0.152);
    font-weight: 500;
    margin-bottom: 8px;
    color: darkblue;
    padding: 1%;
    border-radius: 5px;
    font-size: large;
}

@media screen and (max-width:568px) {
    .banner {
        flex-direction: column;
    }

    .banner-text {
        display: flex;
        gap: 5px;
    }

    p {
        background-color: rgba(0, 0, 139, 0.152);
        font-weight: 500;
        margin-bottom: 0;
        color: darkblue;
        padding: 0.5%;
        border-radius: 2px;
        font-size: small;
    }
}